
streamlit
git+https://github.com/openai/whisper.git
ffmpeg-python
asyncio

# TERMİNALDEN YÜKLEMEK İÇİN
# pip install torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
# pip install -r requirements.txt

# eğer torch aşağıdaki gibi manuel yüklendiyse cuda belirtilmeden önce aşağıdaki gibi uninstall edilir sonra yukarıdaki satır ile cuda aktif edilecek şekilde geri install edilir 
# torch==2.1.0
# torchvision==0.16.0
# torchaudio==2.1.0
# pip uninstall torch torchvision torchaudio  
# (burası torch cuda belirtilmeden yüklendiyse çalıştırılır önce cpu lu torch versiyonu uninstall etmek için sonra yukrıdaki kod satırındaki gibi cuda aktif edilecek şekilde install yapılır.)

# pip install --upgrade torch torchvision torchaudio --index-url https://download.pytorch.org/whl/cu118
# pip install --upgrade streamlit